.container1 {
    width: 100%;
    min-height: 1vh;
    padding: 24px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchBar {
    position: center;
    display: flex;
    align-items: center;
    border-radius: 60px;
  }